.event {
    width: 100%;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 84px;
}
.images {
    width: 100%;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
}
.info {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titleFamily {
    font-family: 'Roboto', sans-serif;
}
