

.images {
    width: 370px;
}
.title {
    font-weight: 900;
    font-size: 30px;
    margin-top: 40px;
}
.titleWhite {
    color: #fff;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}