.overview {
    display: flex;
    flex-direction: column;
    width: 49%;
    margin-bottom: 38px;
    cursor: pointer;
    position: relative;
}

.overview:hover .title {
    color: #ff7931;
}

.overview:hover .overlay  {
    display: block;
}

.images {
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 100%;
}

.title {
    display: block;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: black;
    margin-bottom: 10px;
}
.descript {
    font-size: 14px;
    line-height: 150%;
}
.overviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.imageBlock {
    position: relative;
}

.overlay {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
}
.overlayBlock {
    position: absolute;
    width: 90px;
    bottom: 16px;
    left: 19px;
    display: flex;
    justify-content: space-between;
}
.overlayInfo {
    display: flex;
}
.viewsNum {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px;
}

.eye {
    width: 22px;
    height: 14px;
    background-image: url('../images/eye.svg');
    background-size: cover;
    margin-right: 5px;
}
.commentsIcon {
    width: 16px;
    height: 14px;
    background-image: url('../images/comment.svg');
    background-size: cover;
    margin-right: 5px;
}
.commentsNum {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px
}
@media (max-width: 850px) {
    .overview {
        width: 100%;
        flex-direction: row;
        margin: auto;
        margin-bottom: 30px;
    }
    .imageBlock {
        width: 50%;
        margin-right: 15px;
    }
    .overviewDescript {
        width: 50%;
    }
}

@media (max-width: 540px) {
    .overview {

        flex-direction: column;

    }
    .overview {
        width: 100%;
    }
    .imageBlock {
        width: 100%;

    }
    .overviewDescript {
        width: 100%;
    }
}
@media (max-width: 410px) {
    .overview {
        width: 100%;
    }
    .images {
        width: 100%;
    }
}
