.overview {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-bottom: 38px;
}
.images {
    margin-bottom: 20px;
}

.title {
    display: block;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: #ff7931;
    margin-bottom: 10px;
}
.descript {
    font-size: 14px;
    line-height: 150%;
}
.overviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media (max-width: 410px) {
    .overview {
        width: 100%;

    }
    .images {
        width: 100%;
    }
}