.slider {
    text-align: center;
    color: #FFFFFF;
    position: relative;
    margin-bottom: 99px;
}

.title {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 85px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 139px;
}

.description {
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    max-width: 456px;
    margin: 0 auto;
}

.slide {
    padding: 62px 0 48px 0;
    display: flex !important;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url("../images/slider-slide1.jpg");
}

.sliderArrow {
    cursor: pointer;
    width: 100%;
}

.arrowsBlock {
    position: absolute;
    width: 665px;
    margin: auto;
    z-index: 50;
    bottom: 167px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: space-between;
}

.sliderPrev {
    background-image: url('../images/slideroffer-arrow-left.svg');
    width: 34px;
    height: 42px;
}

.sliderNext {
    background-image: url('../images/slideroffer-arrow-right.svg');
    width: 34px;
    height: 42px;
}

.arrowWrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.lineWrapper {
    display: flex;
    align-items: center;
}
.line {
    display: flex;
    width: 62px;
    height: 2px;
    background-image: url("../images/slider-line.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 5px;
}
span {
    font-size: 13px;
    line-height: 15px;
}
.link {
    padding: 4px 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 2px;
    background-color: #FF7931;
    display: inline-block;
    width: 99px;
    margin: 0 auto;
    margin-bottom: 44px;
}

.sliderDots {
    padding: 5px;

}
.sliderDot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #FFFFFF;
}
@media (max-width: 768px) {
    .link {
        margin-bottom: 24px;
    }
    .arrowsBlock {
        display: none;
    }
    .title {
        font-size: 30px;
        line-height: 150%;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .description {
        margin-bottom: 65px;
    }

}

