.header {
    margin: 47px auto;
    max-width: 1174px;
}
.list {
    display: flex;
    justify-content: space-between;
}
.item {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    box-sizing: border-box;

}
.burger {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    flex-flow: column nowrap;
    background-color: #ff7931;
    z-index: 100;
    background-image: url("../images/burger.svg");
    background-size: contain;
}
.div {
    width: 2rem;
    height: 0.25rem;
    background-color: #ffffff;
}
@media (max-width: 1180px) {
    .list {
        flex-wrap: wrap;
    }
    .item {
        margin-bottom: 10px;
    }
    .header {
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    .burger {
        display: flex;
    }
    .list {
        display: none;
        flex-direction: column;
        padding: 76px 0;
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .item {
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 18px 25px;
        background-color: #f9f9fc;
        margin-bottom: 20px;
        background-image: url('../images/arrow-mobileNav.svg');
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
    }
    .header {
        margin: 0;
    }
}

.listActive {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}
.burgerClose {
    background-image: url("../images/icon-close.svg");
    background-position: center;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-color: white;
    left: inherit;
    right: 16px;
}
.noScroll {
    overflow: hidden;
    margin-right: 13px;
}