.header {
    margin: 47px 0;
}
.list {
    display: flex;
    justify-content: space-between;
}
.item {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}
@media (max-width: 1180px) {
    .list {
        flex-wrap: wrap;
    }
    .item {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}