.header {
    margin: 47px 0;
}
.list {
    display: flex;
    justify-content: space-between;
}
.item {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
}
.burger {
    display: none;
    width: 2rem;
    height: 2rem;
    position: fixed;
    top: 15px;
    right: 20px;
    justify-content: space-around;
    flex-flow: column nowrap;
    background-color: #ff7931;
    padding: 5px;
    z-index: 100;
}
.div {
    width: 2rem;
    height: 0.25rem;
    background-color: #ffffff;
}
@media (max-width: 1180px) {
    .list {
        flex-wrap: wrap;
    }
    .item {
        margin-bottom: 10px;
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .burger {
        display: flex;
    }
    .list {
        display: none;
        flex-direction: column;
        padding-bottom: 76px;
        position: relative;
    }
    .item {
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        padding: 18px 25px;
        background-color: #f9f9fc;
        margin-bottom: 20px;
        background-image: url('../images/arrow-mobileNav.svg');
        background-repeat: no-repeat;
        background-position: right;
    }
    .header {
        margin: 0;
    }
}

.listActive {
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
}
