.mobileNav {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding-bottom: 76px;
    position: relative;
}
.item {
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 18px 16px;
    background-color: #F9F9FC;
    margin-bottom: 20px;
    background-image: url("../images/arrow-mobileNav.svg");
    background-repeat: no-repeat;
    background-position: right;
}
.closeButton {
    width: 30px;
    height: 30px;
    background-image: url("../images/close-defauld.svg");
    margin-left: auto;
}
.navLink {
    display: inline-block;
    width: 100%;
}