.title {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
}
.contentWrapper {
    margin: 66px 0;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.titleBlocks {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.contentLeft {
    max-width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
