.title {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 15px;
}
.contentWrapper {
    margin: 60px 0;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.titleBlocks {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.contentLeft {
    width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 1180px) {
    .content {
        flex-direction: column;
    }
    .contentLeft {
        margin: auto;
    }
    .contentRight {
        margin: auto;
    }
}
@media (max-width: 768px) {
    .contentLeft {
        width: 100%;
    }

}