.title {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 15px;

}
.contentWrapper {
    padding-top: 60px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 60px auto;
    max-width: 1174px;
    padding: 0 16px;
}
.titleBlocks {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.contentLeft {
    max-width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer {
    background-color: #F7F7F7;
    margin-top: 97px;
    padding: 26px 0;
    width: 100%;
}
.footerLine {
    opacity: 0.2;
}
.title {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    margin-bottom: 15px;
}
.footnote {
    max-width: 1174px;
    margin: 0 auto;
    text-align: right;
}
.footnoteText {
    opacity: 0.2;
}
@media (max-width: 1210px) {
    .content {
        flex-direction: column;
    }
    .contentLeft {
        margin: 0 auto 80px auto;
    }
    .contentRight {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }
    .footnote {
        padding: 0 80px;
    }
}
@media (max-width: 850px) {
    .contentRight {
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

}
@media (max-width: 768px) {
    .contentLeft {
        width: 100%;
    }
    .footer {
        display: none;
    }
    .contentWrapper {
        padding-bottom: 60px;
    }

}