.slider {
    height: 200px;
    padding-top: 30px;
}
.sliderEvent {
    display: flex;
    height: 107px;
    vertical-align: center;
    width: 270px;
    color: #ffffff;
}
.sliderContent {
    text-align: center;
    vertical-align: center;
    padding-top: 46px;

}
.title {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto 16px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;

}

.button {
    display: inline-block;
    padding: 6px 19px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;

}
.zoomIn {
    margin-top: -13px;
    height: 132px;
}