.sliderWrapper {
    position: relative;
    margin: auto auto;
}
.sliderArrow {
    position: absolute;
    background: #ffffff;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
    top: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.sliderPrev {
    left: -15px;
    background-image: url('../images/slider-arrow-left.svg');
}
.sliderNext {
    right: -15px;
    background-image: url('../images/slider-arrow-right.svg');
}
.slider {
    height: 200px;
    padding-top: 30px;
}
.sliderEvent {
    display: flex;
    height: 107px;
    vertical-align: center;
    width: 270px;
    color: #ffffff;
    margin: auto auto;
    background-size: cover;
}
.sliderContent {
    text-align: center;
    vertical-align: center;
    padding-top: 46px;
    background-color: rgba(0, 0, 0, 0.5);
}
.title {
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto 16px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
}

.button {
    display: inline-block;
    padding: 6px 19px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.zoomIn {
    margin-top: -13px;
    height: 132px;
}
