.sliderWrapper {
    position: relative;
    margin: auto auto;
    max-width: 1170px;
    width: 100%;
}
.sliderArrow {
    position: absolute;
    background: #ffffff;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 5;
    top: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.sliderPrev {
    left: -15px;
    background-image: url('../images/slider-arrow-left.svg');
}
.sliderNext {
    right: -15px;
    background-image: url('../images/slider-arrow-right.svg');
}
.slider {
    height: 120px;
    padding-top: 30px;
}
.sliderEvent {
    display: flex;
    height: 107px;
    vertical-align: center;
    width: 270px;
    color: #ffffff;
    margin: auto auto;
    background-size: cover;
}
.sliderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.title {
    text-transform: uppercase;
    margin-bottom: 16px;
    font-family: Roboto, 'sans-serif';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2px;
}

.button {
    display: inline-block;
    padding: 6px 19px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
}
.button:hover {
    background-color: rgba(255, 121, 50, 1);
    border-color: transparent;
}
.zoomIn {
    margin-top: -13px;
    height: 132px;
}
@media (max-width: 1220px) {
    .sliderPrev {
        left: 0;
    }
    .sliderNext {
        right: 0;
    }
}

@media (max-width: 620px) {
    .sliderWrapper {
        width: 55%;
    }
    .sliderEvent{
        height: 146px;
    }
    .slider {
        padding: 0;
        height: 146px;
    }
    .zoomIn {
        margin-top: 0;
        height: 146px;
    }

}
@media (max-width: 520px) {
    .sliderPrev {
        display: none;
    }
    .sliderNext {
        display: none;
    }
    .sliderWrapper {
        width: 100%;
        padding: 0 16px;
        box-sizing: border-box;
    }
    .sliderEvent {
        width: 288px;
        height: 146px;
    }

    .slider {
        padding: 0;
        height: 146px;
    }
}