.button {
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 17px 30px;
    width: 170px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 75% 50%;
    box-sizing: border-box;
    border: 2px solid #ff7931;
}
.button:hover {
    cursor: pointer;
    background-color: rgba(255, 121, 50, 1);
}

