.innerPath {
    margin: 60px 0;
}
.events {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title {
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    font-family: 'Playfair Display', serif;
}
