.news {
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 269px;
    cursor: pointer;
}
.news:hover .title {
    color: #ff7931;
}
.newsBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.newsSmall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.images {
    margin-right: 12px;
}
.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}
.descript {
    font-size: 10px;
}
.topNews {
    width: 470px;
    height: 334px;
    padding: 23px 21px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 29px;
    cursor: pointer;
}
.topTitle {
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}
.topDescript {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
}
.smallTitle {
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
}
.infoBlock {
    display: flex;
}

@media (max-width: 810px) {
    .topNews {
        width: 59%;
    }
    .newsSmall {
        width: 39%
    }
}
@media (max-width: 768px) {
    .newsBlock {
        display: flex;
        flex-direction: column;

    }
    .topNews {
        width: 100%;
        background-size: cover;
        margin-bottom: 25px;
    }
    .news {
        flex-direction: column;
        width: 127px;
        text-align: center;

    }
    .newsSmall {
        width: 80%;
        flex-direction: row;
        margin: auto;
    }
    .images {
        margin: 0 auto;
    }
}
@media (max-width: 550px) {
    .newsSmall {
        width: 100%;
        flex-direction: column;

    }
    .news {
        flex-direction: row;
        width: 100%;
        margin-bottom: 31px;
        text-align: left;
    }
    .images {
        margin-right: 15px;
    }
    .info {
        width: 300px;
    }

}