.news {
    background-repeat: no-repeat;
    display: flex;
    font-family: 'Roboto', sans-serif;
    max-width: 269px;
}
.newsBlock {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}
.newsSmall {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.images {
    margin-right: 12px;
}
.title {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
}
.descript {
    font-size: 10px;
}
.topNews {
    width: 470px;
    height: 334px;
    padding: 23px 21px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 29px;
}
.topTitle {
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}
.topDescript {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 150%;
}
.smallTitle {
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
}
.infoBlock {
    display: flex;
}
@media (max-width: 768px) {
    .newsBlock {
        display: flex;
        flex-direction: column;
    }
    .topNews {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
        max-width: 470px;
    }
    .news {
        margin-bottom: 20px;
    }
}