.event {
    display: flex;
    width: 370px;
    height: 479px;
    padding: 40px;
    box-sizing: border-box;
}

.images {
    width: 370px;
}
.title {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}
.titleWhite {
    color: #fff;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.horizontal {
    width: 100%;
    height: 176px;
}

.horizontal .info {
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}
@media (max-width: 1180px) {
    .event {
        margin-bottom: 50px;
    }
}