body {
  margin: auto auto;
  font-family: 'Roboto', sans-serif;
  max-width: 1174px;
}
h2,h3,h4{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: contents;
}
p{
  margin: 0;
}